# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl
*.tfvars
crash.log

# Ansible
*.retry
*.vault_pass
*.json
ansible/inventory.ini

# Local Secrets / Keys
~/.ssh/
~/.gcp-keys/

# Kubernetes bootstrap inventory
k8s/bootstrap/inventory.ini

# OS / Editor
.DS_Store
.vscode/
.idea/
