# ==================================================
# Terraform
# ==================================================
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfvars
crash.log

# ==================================================
# Ansible
# ==================================================
*.retry
*.vault_pass
*.json
~/.ssh/
~/.gcp-keys/
ansible/inventory.ini

# ==================================================
# Kubernetes / Bootstrap
# ==================================================
k8s/bootstrap/inventory.ini

# ==================================================
# OS / Editor Files
# ==================================================
.DS_Store
.vscode/
.idea/
