# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl
*.tfvars
crash.log

# Ansible
*.retry
*.vault_pass
*.json
~/.ssh/
~/.gcp-keys/
ansible/inventory.ini

# OS / Editor
.DS_Store
.vscode/
.idea/
ansible/inventory.ini
